@charset "UTF-8";
.item .title{
  color:#454545;
  font-size: 25px;
  font-weight: 700;
}

.item .status{
  font-size:18px;
  color:#ccc;
  font-weight: 350;
}

.item>*{
  margin: 10px 0;
}

.item{
  margin-bottom: 20px；
}
a{
  text-decoration:none;/*去超链接下划线*/
}

a,body{/*可以用逗号使两个元素并列使用*/
  color: #eee;
}
body{
  background-color: #454545;
}

.side-bar{
  float: left;
  width: 20%;

}
.side-bar > *{/*包含了side-bar之中所有的子元素*/
  padding: 10px 10px;
}

.side-bar .navigation a,
.side-bar .tag-list a{
  display: block; /*占用母元素整宽*/
  padding: 15px;/*上下边距*/
  color:#777;

  -webkit-transition:color 500ms;/*视觉缓冲*/
  -o-transition:color 500ms;/*视觉缓冲*/
  transition: color 500ms;/*视觉缓冲*/
}

.side-bar .navigation a:hover,
.side-bar .tag-list a:hover{/*链接变色*/
  color:#eee;
}

.side-bar .navigation a{
  font-weight: 700;/*字重*/
}

.main{
  float:right;
  width:80%;
  color:#fff;
}

.header .logo{
  line-height: 1;
  border:5px solid #eee;/*边框*/
  padding:10px 20px;/*距上下边10px，距左右边20px*/
  font-size: 40px;/*字体大小40px*/
  display: inline-block;/*上下滑动自适应*/
  margin-bottom: 10px;
}

.article-list{
  margin-right: 30%;
  background: #454545;/*有字的部分的背景颜色*/
  padding:20px 30px;
  -webkit-box-shadow: 0 0 3px 5px rgba(0,0,0,.2);
  box-shadow: 0 0 3px 5px rgba(0,0,0,.2);
}


.article-list .item .title{
  color:#454545;
  font-size: 25px;
  font-weight: 700;
}

.article-list .item .status{
  font-size:18px;
  color:#ccc;
  font-weight: 350;
}

.article-list .item>*{
  margin: 10px 0;
}

.article-list .item{
  margin-bottom: 20px；
}
